In [43]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import pandas as pd
import numpy as np

import statsmodels.api as sm1 #Usa OLS com X como matriz de planejamento
import statsmodels.formula.api as sm  #Usa OLS como no R

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/CaueCitrini/Documents/Graduação Insper/Segundo Semetre 2016:2/Ciência dos Dados/Projetos/Projeto 3

In [44]:
dados1 = pd.read_excel('indicator gapminder gdp_per_capita_ppp.xlsx',index_col=0)

In [45]:
dados2 = pd.read_excel('indicator private share of total health spending.xls.xlsx',index_col=0)

In [46]:
dados3 = pd.read_excel('Indicator_Improved sanitation total percent.xlsx',index_col=0)

In [47]:
dados4 = pd.read_excel('indicatorpolityiv.xlsx',index_col=0)

In [48]:
gdp_per_capita = pd.DataFrame()
gdp_per_capita["2012"] = dados1[2012]

private_share = pd.DataFrame()
private_share["2010"] = dados1[2010]

sanitation = pd.DataFrame()
sanitation["2010"] = dados1[2010]

democracy = pd.DataFrame()
democracy["2011"] = dados1[2011]

In [49]:
gdp_per_capita

                           2012
GDP per capita
Abkhazia                    NaN
Afghanistan                1893
Akrotiri and Dhekelia       NaN
Albania                    9811
Algeria                   12779
American Samoa              NaN
Andorra                   41926
Angola                     7230
Anguilla                    NaN
Antigua and Barbuda       20577
Argentina                 17101
Armenia                    7291
Aruba                     35419
Australia                 42522
Austria                   44216
Azerbaijan                15888
Bahamas                   22841
Bahrain                   40732
Bangladesh                 2725
Barbados                  15261
Belarus                   16907
Belgium                   40687
Belize                     8287
Benin                      1685
Bermuda                   52137
Bhutan                     7138
Bolivia                    5650
Bosnia and Herzegovina     9149
Botswana                  14905
Brazil                    15234
...                         ...
Turkey                    18057
Turkmenistan              12460
Turks and Caicos Islands  20292
Tuvalu                     3489
Uganda                     1622
Ukraine                    8319
United Arab Emirates      57028
United Kingdom            36535
United States             50549
Uruguay                   18447
USSR                        NaN
Uzbekistan                 4705
Wallis et Futuna            NaN
Vanuatu                    2902
Venezuela                 17642
West Bank and Gaza         4842
West Germany                NaN
Western Sahara              NaN
Vietnam                    4912
Virgin Islands (U.S.)       NaN
North Yemen (former)        NaN
South Yemen (former)        NaN
Yemen                      3765
Yugoslavia                  NaN
Zambia                     3678
Zimbabwe                   1750
Åland                       NaN
South Sudan                1810
NaN                         NaN
NaN                         NaN

[262 rows x 1 columns]

In [50]:
private_share

                           2010
GDP per capita
Abkhazia                    NaN
Afghanistan                1637
Akrotiri and Dhekelia       NaN
Albania                    9374
Algeria                   12494
American Samoa              NaN
Andorra                   38982
Angola                     7047
Anguilla                    NaN
Antigua and Barbuda       20567
Argentina                 15765
Armenia                    6508
Aruba                     33288
Australia                 41330
Austria                   42861
Azerbaijan                15950
Bahamas                   22915
Bahrain                   40553
Bangladesh                 2459
Barbados                  15297
Belarus                   15703
Belgium                   40764
Belize                     8209
Benin                      1637
Bermuda                   56395
Bhutan                     6516
Bolivia                    5279
Bosnia and Herzegovina     9145
Botswana                  13642
Brazil                    14660
...                         ...
Turkey                    16674
Turkmenistan              10032
Turks and Caicos Islands  20095
Tuvalu                     3222
Uganda                     1515
Ukraine                    7844
United Arab Emirates      56644
United Kingdom            36240
United States             49373
Uruguay                   17095
USSR                        NaN
Uzbekistan                 4185
Wallis et Futuna            NaN
Vanuatu                    2948
Venezuela                 16536
West Bank and Gaza         4163
West Germany                NaN
Western Sahara              NaN
Vietnam                    4486
Virgin Islands (U.S.)       NaN
North Yemen (former)        NaN
South Yemen (former)        NaN
Yemen                      4534
Yugoslavia                  NaN
Zambia                     3451
Zimbabwe                   1484
Åland                       NaN
South Sudan                3838
NaN                         NaN
NaN                         NaN

[262 rows x 1 columns]

In [51]:
sanitation

                           2010
GDP per capita
Abkhazia                    NaN
Afghanistan                1637
Akrotiri and Dhekelia       NaN
Albania                    9374
Algeria                   12494
American Samoa              NaN
Andorra                   38982
Angola                     7047
Anguilla                    NaN
Antigua and Barbuda       20567
Argentina                 15765
Armenia                    6508
Aruba                     33288
Australia                 41330
Austria                   42861
Azerbaijan                15950
Bahamas                   22915
Bahrain                   40553
Bangladesh                 2459
Barbados                  15297
Belarus                   15703
Belgium                   40764
Belize                     8209
Benin                      1637
Bermuda                   56395
Bhutan                     6516
Bolivia                    5279
Bosnia and Herzegovina     9145
Botswana                  13642
Brazil                    14660
...                         ...
Turkey                    16674
Turkmenistan              10032
Turks and Caicos Islands  20095
Tuvalu                     3222
Uganda                     1515
Ukraine                    7844
United Arab Emirates      56644
United Kingdom            36240
United States             49373
Uruguay                   17095
USSR                        NaN
Uzbekistan                 4185
Wallis et Futuna            NaN
Vanuatu                    2948
Venezuela                 16536
West Bank and Gaza         4163
West Germany                NaN
Western Sahara              NaN
Vietnam                    4486
Virgin Islands (U.S.)       NaN
North Yemen (former)        NaN
South Yemen (former)        NaN
Yemen                      4534
Yugoslavia                  NaN
Zambia                     3451
Zimbabwe                   1484
Åland                       NaN
South Sudan                3838
NaN                         NaN
NaN                         NaN

[262 rows x 1 columns]

In [52]:
democracy

                           2011
GDP per capita
Abkhazia                    NaN
Afghanistan                1695
Akrotiri and Dhekelia       NaN
Albania                    9640
Algeria                   12606
American Samoa              NaN
Andorra                   41958
Angola                     7094
Anguilla                    NaN
Antigua and Barbuda       19988
Argentina                 16972
Armenia                    6812
Aruba                     36016
Australia                 41706
Austria                   44029
Azerbaijan                15754
Bahamas                   22689
Bahrain                   40083
Bangladesh                 2589
Barbados                  15336
Belarus                   16603
Belgium                   40946
Belize                     8178
Benin                      1643
Bermuda                   54985
Bhutan                     6909
Bolivia                    5462
Bosnia and Herzegovina     9248
Botswana                  14341
Brazil                    15101
...                         ...
Turkey                    17908
Turkmenistan              11361
Turks and Caicos Islands  20878
Tuvalu                     3488
Uganda                     1607
Ukraine                    8282
United Arab Emirates      56192
United Kingdom            36549
United States             49781
Uruguay                   17916
USSR                        NaN
Uzbekistan                 4412
Wallis et Futuna            NaN
Vanuatu                    2916
Venezuela                 16960
West Bank and Gaza         4359
West Germany                NaN
Western Sahara              NaN
Vietnam                    4717
Virgin Islands (U.S.)       NaN
North Yemen (former)        NaN
South Yemen (former)        NaN
Yemen                      3761
Yugoslavia                  NaN
Zambia                     3557
Zimbabwe                   1626
Åland                       NaN
South Sudan                3505
NaN                         NaN
NaN                       36327

[262 rows x 1 columns]